{% block content %}
    {% comment %} theme_add.html {% endcomment %}
    <div id="theme_add">
    <form 
    hx-post="{% url 'theme_add' %}"
    hx-swap="outerHTML"
    hx-trigger="submit"
    id="theme_add_form"
    >
        <div class="row g-2 justify-content-between">
            {% csrf_token %}
            <div class="col-auto g-2 justify-content-between">
                <input type="text" class="form-control" name="name" />
                <input type="text" class="form-control" name="tag" />
                <input type="text" class="form-control" name="attrs" />
                <input type="text" class="form-control" name="value" />
            </div>
            <div class="col-auto">
                <button class="btn btn-primary ms-1" type="submit" id="theme_submit_btn">Onayla</button>
                <button 
                hx-get="{% url 'theme' %}"
                hx-select="#thiscreator"
                hx-target="#theme_add"
                hx-swap="outerHTML"
                class="btn btn-secondary ms-1"
                type="reset">Reset</button>
            </div>
        </div>
    </form>
    </div>
{% endblock content %}

